p{
    font-family: 'Lato', 'Noto Sans TC';
    font-weight: 300;
}

div{
    font-family: 'Lato', 'Noto Sans TC';
    font-weight: 300;
}

h1{
    font-family:  'Cardo', 'Noto Sans TC';
}

h3{
    font-family:  'Cardo', 'Noto Sans TC';
}

/* page-one */

.page-one-body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}



.page-one-left-top-bar{
    display: flex;
    position: absolute;
    left: -200px;
    top: 0;
    background-color: white;
    width: 15%;
    height: 60%;
    text-align: center;
    transition: all 1s;
    margin: auto;
}

.page-one-left-top-bar-box{
    max-height: 440px;
    height: auto;
    width: 100%;
    margin: auto;
}

.page-one-logo{
    width: 70px !important;
    margin: auto;
}

.page-one-left-h1{
    margin-bottom: 0px; 
    font-weight: 300;
}

.page-one-left-h3{
    letter-spacing: 8px; 
    margin-top: 6px; 
    margin-bottom: 40px;
    padding-left: 10px;
}

.page-one-left-interior{
    letter-spacing: 5.8px; 
    margin-bottom: 1%;
    margin-top: 1%;
}

.page-one-left-mi{
    margin: 0px;
}

.page-one-logo-line{
    height: 1px;
    width: 9%;
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
}



.page-one-left-bottom-bar{
    position: absolute;
    left: -200px;
    bottom: 0;
    background-color: white;
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    transition: all 1s;
}

.page-one-bottom-dot{
    position: absolute;
    left: -50px;
    bottom: 1%;
    height: 10%;
    width: 6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s;
}

.page-one-rectangle{
    width: 16px !important;
    height: 16px;
    background: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
}

.page-one-triangle{
    width: 18px !important;
    height: 18px;
    background: url("../img/triangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
    color: #979797;
}

.page-one-img{
    background: url("../img/index-1-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 580px; */
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
    line-height: 10px;
    height: 97vh;
    transition: all 15s;
    transform: translateX(-100px);
}



.page-one-right-top-bar{
    position: absolute;
    right: -125px;
    top: 0;
    background-color: white;
    height: 100%;
    width: 10%;
    transition: all 1s;
}

/* menu original */


.page-one-right-bottom-bar{
    position: absolute;
    right: -200px;
    bottom: 0;
    background-color: white;
    height: 40%;
    width: 12%;
    transition: all 1s;
}

.page-one-scroll{
    position: absolute;
    right: -250px;
    bottom: 0;
    width: 250px;
    height: 250px;
    background-image: url('../img/scroll.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s;
}


.page-one-scroll-word{
    position: absolute;
    right: -250px;
    bottom: 0;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 2s;
    cursor: pointer;
}

.page-one-scroll-text{
    letter-spacing: 3.5px;
}

.page-one-scroll-arrow{
    width: 50px !important;
    transition: all 1s;
}


/* original menu */

/* page-two */

.page-two-body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.page-two-left-top-bar{
    position: absolute;
    /* left: -200px; */
    left: -8%;
    top: 0;
    background-color: white;
    width: 13%;
    height: 40%;
    text-align: center;
    transition: all 1s;  
}

.page-two-left-bottom-bar{
    position: absolute;
    /* left: -200px; */
    opacity: 0;
    left: -8%;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 8%;
    height: 100%;
    text-align: center;
    transition: all 1s;  
}

.page-two-left-yayan{
    writing-mode: vertical-rl; 
    letter-spacing: 2px;
    font-size: 13px;
}

.page-two-logo{
    height: 40px;
    width: 40px !important;
    padding: 20px 0px 10px 0px;
}

.page-two-bottom-dot{
    position: absolute;
    left: -50px;
    opacity: 0;
    bottom: 3%;
    height: 10%;
    width: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s;
}

.page-two-left-pagination{
    font-size: 80px;
    position: absolute;
    left: -6%;
    opacity: 0;
    bottom: 30%;
    height: 30px;
    width: 30px;
    transition: all 0.2s 1s;
    font-family: 'cardo';
}

.page-two-img{
    background: url("../img/index-2-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 580px; */
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    background-position-x: center;
    background-position-y: center;
    height: 97vh;
    transition: all 25s;
    transform: translateX(-100px);
}

.page-two-right-top-bar{
    position: absolute;
    right: -80px;
    bottom: 0;
    background-color: white;
    width: 20%;
    height: 100%;
    transition: all 1s;
}

.page-two-right-product-bar{
    position: absolute;
    right: -40%;
    opacity: 0;
    bottom: 30%;
    background-color: white;
    width: 34%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    transition: all 0.2s 1s; 
    padding-bottom: 2%;
}

.page-two-right-portfoilo{
    display: flex;
    align-items: center;
    font-size:18px; 
    margin:5% 0px 4% 0px; 
    letter-spacing: 4.5px;
}

.page-two-right-portfoilo-word{
    font-family: 'lato';
    letter-spacing: 4.5px;
}

.page-two-right-portfoilo-line{
    width: 0px;
    height: 1.2px;
    background-color: black;
    margin-left: 10px;
    transition: all 0.6s 1s linear;
}

.page-two-right-mrs{
    font-size: 20px;
    margin:0px; 
    letter-spacing: 1px; 
    font-family: 'cardo';
}

.page-two-right-memorial{
    font-size:30px; 
    margin:0px; 
    letter-spacing: 1px; 
    font-family: 'cardo';
}

.page-two-right-churchs{
    font-size:21px; 
    margin:1% 0px 3%;  
    letter-spacing: 3px
}

.page-two-right-medical-space{
    display: flex;
    font-size:15px; 
    margin:1% 0px;  
    letter-spacing: 3px
}

.page-two-read-more{
    position: relative;
    width: 72px;
    height: 16px;
    background-color: black;
    color: white;
    padding: 3px 10px;
    margin-left: 10px;
    cursor: pointer;
    letter-spacing: 3.25px;
    font-size: 13px;
    text-align: center;
}

.page-two-right-bottom-scroll-bar{
    position: absolute;
    right: 0%;
    opacity: 0;
    bottom: 3%;
    width: 150px;
    height: 150px;
    background-image: url('../img/scroll-two.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s;
}

.page-two-right-bottom-scroll-bar-box{
    position: absolute;
    right: 0%;
    opacity: 0;
    bottom: 3%;
    width: 150px;
    height: 150px;
    background: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s;
}

.page-two-scroll-arrow{
    width: 60px !important;
    height: 21px;
    transition: all 2s;
}

/* page-three */

.page-three-body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.page-three-left-top-bar{
    position: absolute;
    left: -3%;
    top: 0;
    background-color: white;
    width: 13%;
    height: 100%;
    text-align: center;
    transition: all 1s;  
}


.page-three-left-bottom-bar{
    position: absolute;
    opacity: 0;
    left: -8%;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 8%;
    height: 100%;
    text-align: center;
    transition: all 1s;  
}

.page-three-logo{
    height: 40px;
    width: 40px !important;
    padding: 20px 0px 10px 0px;
}

.page-three-left-yayan{
    font-size: 13px;
    writing-mode: vertical-rl; 
    letter-spacing: 2px;
}

.page-three-bottom-dot{
    position: absolute;
    left: -50px;
    opacity: 0;
    bottom: 3%;
    height: 10%;
    width: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s;
}

.page-three-right-pagination{
    font-size: 80px;
    position: absolute;
    right: -6%;
    opacity: 0;
    top: 20%;
    height: 30px;
    width: 30px;
    transition: all 0.2s 1s;
    font-family: 'cardo';
}

.page-three-img{
    background: url("../img/index-3-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 580px; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    background-position-x: center;
    background-position-y: center;
    height: 97vh;
    transition: all 20s;
    transform: translateX(-3%);
}


.page-three-right-top-bar{
    position: absolute;
    right: -80px;
    top: 0;
    background-color: white;
    width: 20%;
    height: 36%;
    transition: all 1s;
}

.page-three-right-bottom-bar{
    position: absolute;
    right: -80px;
    top: 0;
    background-color: white;
    width: 16%;
    height: 100%;
    transition: all 1s;
}

.page-three-right-product-bar{
    position: absolute;
    opacity: 0;
    left: -6%;
    bottom: -1%;
    background-color: white;
    width: 20%;
    height: 40%;
    padding-left: 25px;
    transition: all 0.2s 1s; 
}

.page-three-right-portfolio{
    display: flex;
    align-items: center;
    font-size:18px; 
    margin:8% 0px 3% 0px; 
    letter-spacing: 4.5px;
}

.page-three-right-portfolio-word{
    font-family: 'lato';
    letter-spacing: 4.5px;
}

.page-three-right-portfolio-line{
    width: 90px;
    height: 1px;
    background-color: black;
    margin-left: 10px;
}

.page-three-right-haydn{
    font-size:28px; 
    margin:1% 0px; 
    letter-spacing: 1px; 
    font-family: 'cardo';
}

.page-three-right-park{
    font-size:20px; 
    margin:0px 0px 5%; 
    letter-spacing: 3px;
}

.page-three-right-residential{
    font-size:14px; 
    margin:10px 0px; 
    letter-spacing: 3px;
}

.page-three-read-more{
    background: black;
    color: white;
    padding: 3px 10px;
    margin-left: 2%;
    cursor: pointer;
    transition: all 0.6s;
    letter-spacing: 3.2px;
    font-size: 13px;
}

.page-three-right-bottom-scroll-bar{
    position: absolute;
    right: 0%;
    opacity: 0;
    bottom: 5%;
    width: 150px;
    height: 150px;
    background-image: url('../img/scroll-two.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s;
}

.page-three-right-bottom-scroll-bar-box{
    position: absolute;
    right: 0%;
    opacity: 0;
    bottom: 5%;
    width: 150px;
    height: 150px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 2s;
}

.page-three-scroll-arrow{
    width: 60px !important;
    height: 21px;
    transition: all 2s;
}

/* page-four */

.page-four-body{
    position: relative;
    width: 100%;
    height: 100%;
}

.page-four-left-top-bar{
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 8%;
    height: 100%;
    text-align: center;
    transition: all 1s;  
    padding-top: 2.5%;
}

.page-four-logo{
    height: 40px;
    width: 40px !important;
    padding: 20px 0px 10px 0px;
}

.page-four-left-yayan{
    font-size: 13px;
    writing-mode: vertical-rl; 
    letter-spacing: 2px;
}

.page-four-bottom-dot{
    position: absolute;
    left: 4%;
    bottom: 3%;
    height: 10%;
    width: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s;
}

.page-four-img{
    background: url("../img/index-4-pic-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 520px; */
    width: 61%;
    margin: 0 0 0 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    background-position-x: center;
    background-position-y: center;
    height: 97vh;
    transition: all 1s linear;
    animation: imgUpDown 2.5s ease 0s infinite alternate;
}

.page-four-portfolio{
    display: flex;
    align-items: center;
    position: absolute;
    left: 16%;
    top: 17%;
    height: 5%;
    width: 100%;
    transition: all 0.2s 1s;
}

.page-four-portfolio-word{
    letter-spacing: 4.5px; 
    font-family:'lato'; 
    font-size: 22px;
}

.page-four-portfolio-line{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: 10px;
}

.page-four-right-product-bar{
    position: absolute;
    right: 10%;
    top: 14%;
    background-color: white;
    /* width: 13%;
    height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s 1s; 
}

.page-four-product-up-text{
    width: 190px;
    font-size:20px; 
    margin:5% 0px 4% 0px;
    letter-spacing: 0.6px;
    font-family: 'cardo';
}

.page-four-product-down-text{
    width: 190px;
    font-size:16px; 
    margin:0px 0px 10px;
    letter-spacing: 4.5px;
}

.page-four-product-line{
    width: 190px;
    height: 1px;
    background-color: black;
    margin: 6% 0px 6%;
}

.page-four-href{
    text-decoration: none;
    color: black;
}


/* menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */

/* menu outside */

.page-one-menu-icon{
    z-index: 9;
    position: fixed;
    top: 7%;
    right: -130px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 1s;
}

.page-menu-icon{
    background-image: url('../img/menu-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 36px;
    height: 24px;
}

.page-menu-icon:hover{
    background-image: url('../img/close-menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transition: all 0.6s linear;
}

.page-one-menu-text{
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1.5px;
}


/* menu inside */


.page-one-menu-click-bar{
    visibility: hidden;
    z-index: 10;
    opacity: 0.9;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 100%;
    background-image: url('../img/menu-bar.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    transition: all 0.6s ease 0s;
}

.page-one-close-div{
    position: absolute;
    top: 6%;
    right: 5%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.page-one-close-icon{
    background-image: url('../img/close-menu.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    font-size: 40px;
    width: 36px;
    height: 36px;
}

.page-one-close-text{
    margin-top: 6px;
    letter-spacing: 2px;
}

.page-one-menu-bar{
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30%;
    padding-top: 20%;
}

.page-one-menu-content{
    /* position: absolute;
    top: 30%;
    right: 32%; */
}

.page-one-content{
    font-weight: 300;
    letter-spacing: 4px;
}

.page-one-content-three{

}

.page-one-menu-word-img-box{
    display: flex;
    align-items: baseline;
}

.page-one-menu-arrow{
    width: 30px;
    height: 12px;
    padding-right: 4px;
    /* position: absolute;
    left: -40px; */
}  

.page-one-menu-arrow-one{
    display:none; 
    top:17px;
}

.page-one-menu-arrow-two{
    display:none;
}

.page-one-menu-arrow-three{
    display:none;
}

.page-one-menu-arrow-four{
    display:none;
}

.page-one-menu-arrow-five{
    display:none;
}

.page-one-content:hover{
    background-color: #48FFFE;
    cursor: pointer;
}

.page-one-social{
    display: flex;
    /* position: absolute;
    bottom: 24%;
    right: 27%; */
    /* width: 200px; */
}

.page-one-fb{
    height: 18px !important;
    width: 9px !important;
    padding-right: 16px;
    cursor: pointer;
}

.page-one-ig{
    width: 18px !important;
    height: 18px !important;
    cursor: pointer;
}

.page-one-copyright{
    /* position: absolute;
    bottom: 2%;
    right: 25%; */
    letter-spacing: 2px;
}


@keyframes imgUpDown{
    0%   {  transform: translateY(5px) }
    100% {  transform: translateY(-10px) }
}
@-webkit-keyframes imgUpDown{
    0%   {  transform: translateY(5px) }
    100% {  transform: translateY(-10px) }
}
@-moz-keyframes imgUpDown{
    0%   {  transform: translateY(5px) }
    100% {  transform: translateY(-10px) }
}
@-o-keyframes imgUpDown{
    0%   {  transform: translateY(5px) }
    100% {  transform: translateY(-10px) }
}


